@font-face {
    font-family: norseFont;
    src: url(assets/Norse-Bold.otf);
}

body {
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    margin: auto;
    position: relative;
    overflow: hidden;

    align-items: center; /* Center vertically */
    background-color: #f2f2f2; /* f9fafb */
}


/* --------------------- */

#formColumn {
    width: 70vw;
    display: flex;
    flex-direction: column;
}

#contentArea {
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    width: 100%;
    /* max-width: 70vw; */
    height: 100%;
    position: relative;
    background-color: darkgray;
}


h3 {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin: 0 50px 30px 50px;
}

#contentArea h3:nth-child(2) {
    margin-bottom: 60px;
}




/* --------------------- */




/* --------------------- */

@media (max-width: 650px) {

    .form-group {
        flex-direction: column;
    } 
}

@media (max-width: 480px) {
    
    #container {
        flex-direction: column;
        width: 100vw;
    }


    #formColumn {
        width: 100vw;
        min-width: 300px;
    }

    #contentArea {
        width: 100vw;
        padding-top: 40px;
    }
    
    h3 {
        margin: 0 20px 0px 20px;
    }

    
}
